.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dog-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Adjust the gap between boxes as needed */
}

/* CSS for individual dog image and breed name boxes */
.dog-box {
  text-align: center;
  background-color: #f2f2f2; /* Background color for the boxes */
  padding: 10px; /* Adjust padding as needed */
  border-radius: 5px; /* Add rounded corners to the boxes */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow to the boxes */
  width: 200px; /* Adjust the width of the boxes as needed */
}

/* CSS for the dog image */
.dog-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px; /* Optional: Add rounded corners to the image */
}

/* CSS for the breed name */
.breed-name {
  margin-top: 10px; /* Adjust the space between the image and breed name */
  font-weight: bold; /* Optional: Make the breed name bold */
}
